# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ENV=production

# Email
RESEND_API_KEY=

# Analytics
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=



# NEXT_PUBLIC_SUPABASE_URL=https://YOUR_STAGING_REF.supabase.co
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_staging_anon_key
# SUPABASE_SERVICE_ROLE_KEY=your_staging_service_role_key
# DATABASE_URL=postgresql://postgres.YOUR_STAGING_REF:STAGING_PASSWORD@aws-0-eu-west-1.pooler.supabase.com:6543/postgres

# NEXT_PUBLIC_APP_URL=http://localhost:3000
# NEXT_PUBLIC_ENV=staging

# RESEND_API_KEY=your_resend_key_same_as_prod_is_fine

# EXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_token_same_as_prod_is_fine
# NEXT_PUBLIC_POSTHOG_HOST=your_posthog_host_same_as_prod_is_fine



# Switch to staging for testing
# cp apps/platform/.env.staging.local apps/platform/.env.local
# pnpm --filter=platform dev

# Switch back to production
# cp apps/platform/.env.production.local apps/platform/.env.local
# pnpm --filter=platform dev